
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/OBBX.Shared/app.css" />
    <link rel="stylesheet" href="OBBX.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/OBBX.Shared/favicon.png" />
    <link href="_content/OBBX.Shared/css/fonts.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
   <Routes @rendermode="InteractiveServer" />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

<script>
    window.challongeInterop = {
        metadata: { height: 2000 }, // Default height
        postMessage: function (action, parameters) {
            const iframe = document.getElementById('challonge-frame');
            if (iframe && iframe.contentWindow) {
                console.log("Sending to Challonge:", action, parameters);
                iframe.contentWindow.postMessage({
                    ChallongeJSAPIAction: action,
                    parameters: parameters
                }, "*");
            }
        }
    };

    window.addEventListener("message", (e) => {
        if (e.data && e.data.challongeEvent === "bracketHeightChanged") {
            window.challongeInterop.metadata.height = e.data.height;
        }
    }, false);
</script>

</html>
